@use '../global/variables' as v;

.header-head{
  
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;

  margin: {
    left: 3vw;
    right: 3vw;
  }

  .link {
    display: flex;
    align-items: center;
    img.logo {
      height: 100%;
      width: 4vw;
    }
  }
}

.header {
  width: 100%;
  height: 10vh;
  
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  
  
  box-shadow: v.$shadow;
  background-color: v.$body-color;
  
  padding: v.$navbar-padding-y v.$navbar-padding-x;
  border-bottom: 1px solid v.$border-color;

  .navbar {
    margin: {
      left: auto;
      right: auto;
    }

    .link {
      margin: 0 1vw;
    }
  }
   
  h1 {
    color: v.$brand-color;
    font-size: 3rem;
    font-family: v.$font-family-caveat;
    font-weight: 900;
    white-space: nowrap;
  }
  
  .header-body{
    .search-bar {
      // width: 100%;
      width: 40vw;
      height: 6vh;
      max-width: 700px;
      
    
      background: rgba(110,   222,146, 0.2);
      border-radius: 10vw;
    
      margin: {
        left: auto;
        right: 1vw;
      }
      padding: 0 2vw;
    
      display: flex;
      align-items: center;
      backdrop-filter: blur(4px) saturate(180%);
      
      input {
        width: 100%;
        
        background: transparent;
        flex: 1;
        border: 0;
        outline: 0;
        font-size: 20px;
        color: v.$text-dark;
    
        ::placeholder {
          font-family: 'Courier New', Courier, monospace;
        } 
      }
    
      button {
        position: relative;
        
        border-radius: 50%;
        border: 0; 
        width: 5vh;
        height: 5vh;
        
        background: v.$body-color;
        cursor: pointer;
      }
    
    }
  }
  
}





