@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Overpass:ital,wght@0,900;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$font-family-roboto: "Roboto", sans-serif;
$font-family-overpass: "Overpass", sans-serif;
$font-family-spacemono: "Space Mono", sans-serif;
$font-family-caveat: "Caveat", sans-serif;
$font-size-base: 0.925rem;

$base-color: #097969;
$text-dark: #3c4250;
$border-color: #eceef3;

$brand-color: #04724d;
$body-color: #fffcf2;
$try: #8fdb6e;

$header-link-hover: $brand-color;

// $navbar-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.035);
$shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$shadow-intense: 2px 2px 20px #6d6b6b6b;

$navbar-padding-y: 1rem;
$navbar-padding-x: 1.15rem;

// $navbar-link-hover: $base-color;
$navbar-link-padding-y: 0.5rem;
$navbar-link-padding-x: 1rem;
