@use "../global/variables" as v;
@use "../global/underline";

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 3vh;

  .sub-gallery {
    margin-top: 10vh;
    display: flex;
  }

  .heading {
    position: absolute;
    top: 3vh;
    left: 5vw;
    border-bottom: 1px solid v.$border-color;
    font-size: 2rem;
    font-family: v.$font-family-overpass;
  }
}
