@use "../global/variables" as v;
@use "../global/underline";

.gallery {
  position: relative;
  top: 3vh;
  padding: 3vh;

  .sub-gallery {
    padding-top: 4vh;
    display: flex;
    overflow-x: auto;
    align-items: center;
    justify-content: center;
  }

  h1 {
    position: absolute;
    top: 3vh;
    left: 5vw;
    border-bottom: 1px solid v.$border-color;
    font-size: 2rem;
    font-family: v.$font-family-overpass;
  }
}
