@use "../global/variables" as v;
@use "../global/underline";

.gallery {
  position: relative;
  top: 3vh;
  padding: 3vh;

  .sub-gallery {
    padding-top: 4vh;
    display: flex;
    overflow-x: auto;
    align-items: center;
    justify-content: center;
  }

<<<<<<< HEAD
  h1 {
    position: absolute;
    top: 3vh;
    left: 5vw;
    border-bottom: 1px solid v.$border-color;
=======
  .heading {
    position: absolute;
    top: 3vh;
    left: 5vw;
    // border-bottom: 1px solid v.$border-color;
>>>>>>> 00f3663a0d164300677c5a84bf088fd410c838ec
    font-size: 2rem;
    font-family: v.$font-family-overpass;
  }
}
