.header * {
  display: inline-block;
}

/* .header {
  background-color: mediumseagreen;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
} */

/* .searchBar {
  height: 40px;
  position: relative;
} */
