@use 'variables' as v;

.header-head{
  
  display: flex;
  align-items: center;

  margin: {
    left: 3vw;
    right: 3vw;
  }

  img.logo {
    height: 100%;
    width: 4vw;
    
  }


  .search-form {
    width: 100%;
    
    max-width: 700px;
    background: rgba(110,   222,146, 0.2);
    border-radius: 10vw;
    margin: {
      left: 0;
      right: 1vw;
    }
    padding: 0 2vw;

    display: flex;
    backdrop-filter: blur(4px) saturate(180%);
    
    input {
      width: 100%;
      height: 100%;
      background: transparent;
      flex: 1;
      border: 0;
      outline: 0;
      font-size: 20px;
      color: v.$text-dark;
      ::placeholder {
        font-family: 'Courier New', Courier, monospace;
      } 
    }

    button {
      position: relative;
      top: 0.7vh;
      border-radius: 50%;
      border: 0; 
      width: 5vh;
      height: 5vh;
      background: v.$body-color;
      cursor: pointer;
    }

    button img {
      width: 50%;
      // height: 50%;;

    }

  }

}

.header {
  
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content:space-between;
  width: 100%;
  height: 10vh;
  box-shadow: v.$shadow;
  background-color: v.$body-color;
  padding: v.$navbar-padding-y v.$navbar-padding-x;
  border-bottom: 1px solid v.$border-color;

  h1:hover {
    color: v.$text-dark;
  }

  h1 {
    color: v.$brand-color;
    font-size: 3rem;
    font-family: v.$font-family-caveat;
    font-weight: 900;
    white-space: nowrap;
  }

  // .link {
  //   text-decoration: none;
  //   font-family: v.$font-family-overpass;
  //   color: v.$text-dark;
  //   font-size: 1.2rem;
  //   position: relative;
  //   top: 1vh;

  //   margin: {
  //     left: auto;
  //     right: auto;
  //   }
  //   padding: {
  //     left: 15px;
  //     right: 15px;
  //   }

}





