@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.navbar {
  /* background-color: mediumseagreen;
  position: absolute;
  width: 100%; */
}

.link {
  display: inline-block;
  background-color: aliceblue;
  float: left;
  padding: 16px 20px;
  margin: 10px 10px;
  box-sizing: border-box;
}

.link:hover {
  background-color: black;
}
